In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
#load data to df
Game_Odds = "nfl.xlsx"
Odds_df = pd.read_excel(Game_Odds)
Odds_df.tail()

,Date,Home Team,Away Team,Home Score,Away Score,Overtime?,Playoff Game?,Neutral Venue?,Home Odds Open,Home Odds Min,...,Total Score Close,Total Score Over Open,Total Score Over Min,Total Score Over Max,Total Score Over Close,Total Score Under Open,Total Score Under Min,Total Score Under Max,Total Score Under Close,Notes
3925,2006-09-10,Detroit Lions,Seattle Seahawks,6,9,NaN,NaN,NaN,3.500000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3926,2006-09-10,Cleveland Browns,New Orleans Saints,14,19,NaN,NaN,NaN,1.500000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3927,2006-09-10,Carolina Panthers,Atlanta Falcons,6,20,NaN,NaN,NaN,1.434783,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3928,2006-09-10,Arizona Cardinals,San Francisco 49ers,34,27,NaN,NaN,NaN,1.181818,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3929,2006-09-07,Pittsburgh Steelers,Miami Dolphins,28,17,NaN,NaN,NaN,1.800000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#Transform df by selecting just the desired columns. 
#Note that data from the 2013-2014 or older only has the opening odds 

#Add column that can summarize int Home/Away scores with Boolean Home wins instead
Odds_df['Home Win'] =  np.where(Odds_df["Home Score"] > Odds_df["Away Score"], True, False)

#Select desired columns
Opening_Odds_df = Odds_df[["Date", "Home Team", "Away Team", "Home Win", "Home Odds Open", "Away Odds Open"]]
Opening_Odds_df.dropna
Opening_Odds_df.tail()

,Date,Home Team,Away Team,Home Win,Home Odds Open,Away Odds Open
3925,2006-09-10,Detroit Lions,Seattle Seahawks,False,3.500000,1.333333
3926,2006-09-10,Cleveland Browns,New Orleans Saints,False,1.500000,2.750000
3927,2006-09-10,Carolina Panthers,Atlanta Falcons,False,1.434783,2.900000
3928,2006-09-10,Arizona Cardinals,San Francisco 49ers,True,1.181818,5.000000
3929,2006-09-07,Pittsburgh Steelers,Miami Dolphins,True,1.800000,2.050000

In [19]:
#write to csv
Opening_Odds_df.to_csv('NFL_Opening_Odds')

In [12]:
#moving odds

[]